/* .bg-primary {
  background: #df6751;
}
.bg-light {
  background: #fbe9e5;
}

.text-primary {
  color: #df6751;
} */

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

/* @media (min-width: 640px) and (max-width: 767px) {
  .sm-only-center {
    text-align: center;
  }
} */
